<!DOCTYPE html>
<html data-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">
    <title>still have a lot work to do...</title>
</head>
<body>
    <article>
        {{.}}
    </article>
</body>
<style>
    article{
        background: rgb(28,29,33);
        max-width: 70%;
        text-align: left;
        margin: 0 auto;
    }
    p{
        font-size:18px;
        line-height: 32px;
    }
</style>
</html>